

<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Hello, {{ title }}</h1>
      <span>Your Name</span>
      <input [(ngModel)]="userName" />
      <button (click)=updateName()>submit</button>
    </div>

    <div>
      <h2>All connected users</h2>
      <ul *ngIf="users.length>0">
        <li *ngFor="let user of users">
          {{user.userName}}
        </li>
      </ul>
      <span *ngIf="users.length === 0">No connected users.</span>
    </div>
  </div>
</main>
<router-outlet />
